@{
    ViewData["Title"] = "Panneau d'administration";
}

<h2>Panneau d'administration</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Users">👥 Gestion des utilisateurs</a>
    </li>
    <li class="list-group-item">
        <a asp-action="Roles">🔐 Gestion des rôles</a>
    </li>
    <li class="list-group-item">
        <a asp-action="StressEvents">📝 Gestion des questionnaires de stress</a>
    </li>
</ul>
